@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #fff;
}

.App {
  text-align: center;
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 220px;
}

button {
  background-color: #e03131;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #8c1d1d;
}

input[type="range"] {
  width: 100%;
  margin: 0.5rem 0;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #5f1616;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #e03131;
  cursor: pointer;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="text"] {
  width: 50px;
  text-align: center;
  border: 1px solid #e03131;
  border-radius: 4px;
  padding: 0.5rem;
  background: #2c2c2c;
  color: white;
  font-size: 1rem;
}

.reset-btn {
  font-weight: 600;
}

span {
  font-size: 1.2rem;
  margin: 0 1rem;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

div {
  margin-bottom: 1rem;
}
