.word-display {
  padding: 20px;
  font-size: 2rem;
  margin: 40px 0;
}

.letter {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  width: 30px;
  text-align: center;
  border-bottom: 2px solid #000;
  margin: 0 5px;
}
